<b><font size="6">0. Data Mining Methodology</font></b><br><br>
First we are going to talk about Data Mining Methodologies, that describe common approaches used by data mining experts to solve a problem.

<b><font size="6">1. Data Understanding </font></b><br><br>
Step 1 - Import the pandas library and define the alias as pd.

In [1]:
# Step 1
import pandas as pd

Step 2: Read the excel file insurance.xlsx that is inside of the 100_Datasets/Insurance/data folder. Save it to the object data using the pandas method `pd.read_excel()`

In [12]:
data = pd.read_excel('./learnDataMining/100_Datasets/Insurance/data/insurance.xlsx')

Step 4: Check the shape of the datset using the attribute shape.

In [13]:
#Step 3
data.shape

(2500, 21)

In [14]:
# Step 4: Check the first 5 rows of the dataset using the pandas method head()
data.head()

,InsuredID,Year_Birth,Gender,Region,Marital_Status,Smoker,Income,Dt_Hospitalization,BMI,BSA,...,Treatment,Medication,Medical_Assistance,Exams,Ambulance_Transport,Patient_Coverage,Insurance_Coverage,Insured_Satisfaction,Health_Plan_Option,Upgrade_Health_Plan
0,1003,1991,M,southeast,NaN,0,29761.20,2014-05-27,69,11,...,32,19,24,1,24,59,41,3,2,0
1,1004,1956,M,undefined,Married,0,98249.55,2013-07-21,10,26,...,60,10,19,6,5,35,65,5,2,0
2,1006,1983,F,southwest,Together,0,23505.30,2013-10-30,65,14,...,47,2,48,2,1,67,33,4,2,0
3,1007,1970,F,southeast,Single,0,72959.25,2012-12-06,73,18,...,71,7,13,1,8,46,54,4,2,0
4,1009,1941,F,southeast,Married,1,114973.95,2013-10-30,75,30,...,38,9,35,9,9,17,83,5,2,0